<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="language" content="english, en">
    <meta name="description" content="Fake News Graph (FakeNewsGraph) is a tool for visualization and analysis of the spread of news throughout Twitter. It gives helpful insights about the demographics responsible for the diffusion of Tweets.">
    <meta name="page-topic" content="journalism, visualization, news, spread, diffusion">
    <title>Toskov Architects</title>
    {{{helmet.meta}}}
    <base href="/">
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">

    <!-- ****** faviconit.com Favicons ****** -->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/img/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/img/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16.png">
    <link rel="apple-touch-icon" href="/img/favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/img/favicon/favicon-144.png">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <!-- ****** faviconit.com Favicons ****** -->

    <style>
            {{{css}}}
    </style>
</head>
<body>
<div id="top"></div>
<div id="app">{{{initRender}}}</div>

<script src="build/bundle.js"></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossOrigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>


<script type="application/javascript">
    window.__INITIAL_STATE__ = {{{initState}}};
</script>
</body>
</html>