<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="language" content="english, en">
    <meta name="description" content="Fake News Graph (FakeNewsGraph) is a tool for visualization and analysis of the spread of news throughout Twitter. It gives helpful insights about the demographics responsible for the diffusion of Tweets.">
    <meta name="page-topic" content="journalism, visualization, news, spread, diffusion">
    <title>FakeNewsGraph</title>
    {{{helmet.meta}}}
    <base href="/">
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-100357242-1', 'auto');
        ga('send', 'pageview');

    </script>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    <style>
            {{{css}}}
    </style>
</head>
<body>
<div id="app">{{{initRender}}}</div>

<script src="build/bundle.js"></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossOrigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>


<script type="application/javascript">
    window.__INITIAL_STATE__ = {{{initState}}};
</script>
</body>
</html>