#cv-table {
  td {
    padding-bottom: @cv-padding;
  }
}

.cv-left-column {
  vertical-align: top;
  padding-right: @cv-padding;
}

.cv-img {
  width: 100%;
  max-width: 371px;
}

.cv-bold {
  font-weight: bold;
}