@font-face {
  font-family: 'SEGOEUIL';
  src: url('../fonts/segoe-ui/SEGOEUIL.ttf') format('truetype');
}

body {
  font-family: 'SEGOEUIL' !important;
}

// Impressum , Contact and About container
.container-content-page {
  max-width: 1200px;
  padding: @search-field-margin;
  margin-left: auto;
  margin-right: auto;

  h1 {
    margin: 0 0 10px 0;
  }
}



.container-fluid {
  padding: 0;
}
