/*
================FOOTER==================
*/

footer {
  background: @footer-background;

  .container {
    padding: 0px;
  }
}

#pre-footer {
  color: @text-grey;
  width: 100%;

  #footer-header {
    margin: 0;
    display: table;

    div {
      display: table-cell;
      letter-spacing: 3px;
    }

    #toskov {
      color: @text-black;
      font-weight: bold;
    }

    #architects {
      color: @text-grey;
    }
  }

  #footer-contact {
    text-align: right;
  }
}

.row {
  margin: 0;
  padding: 0;
}

#rights-and-credits {
  color: @text-grey;
  font-style: italic;
  font-size: 75%;
  padding: @top-bottom-padding-footer 0 @top-bottom-padding-footer 0;
}
