// Header
@header-background:       white;

// Text Colors
@text-grey:               #505050;
@text-black:              black;

// The three base colours
@red-dark:                #c51111;
@blue-dark:               #21384e;
@blue-light:              #1256e1;

// White
@white:                   white;

// Navigation bar
@menu-items-padding:      9px;
@logo-padding-fix:        25px;
@burger-menu-bar-size:    3px;
@navbar-link-padding:     0 15px 0 15px;

// Progress bar
@blue-dark-55opacity:     #85929e;
@blue-dark-25opacity:     #c8ced3;
@blue-dark-20opacity:     #d3d7dc;

@progress-numbering-pad:  2px 7px;
@progress-element-pad:    10px;
@progress-border-width:   3px;

// Wordcloud
@search-field-margin:     30px;


// Results padding
@results-element-pad:     10px;

// Footer
@footer-background:       #f0f0f0;
@top-bottom-padding-footer: 15px;